<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe Converter</title>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham.css">
</head>
<div>

<div class="container">
  <nav class="navbar navbar-light navbar-expand-md">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-nav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse dual-nav order-1 order-md-0">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Log in / Sign up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"></a>
            </li>
        </ul>
    </div>

    <div class="navbar-collapse collapse dual-nav order-2 order-md-1 justify-content-end">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#"> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> </a>
            </li>
        </ul>
    </div>

    <a href="/" class="navbar-brand mx-auto order-0 order-md-2 p-2 custom-brand">beerRecipes</a>

    <div class="navbar-collapse collapse dual-nav order-3 order-md-3">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#"> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> </a>
            </li>
        </ul>
    </div>

    <div class="navbar-collapse collapse dual-nav order-4 order-md-4 justify-content-end">
        <ul class="navbar-nav">
            <li class="nav-item">
                 <a class="nav-link" href="#">Browse</a>
            </li>
            <li class="nav-item">
                 <a class="nav-link" href="#">Search <i class="fas fa-search"></i></a>
            </li>
        </ul>
    </div>

    </nav>

    {% block content %}

    <section class="find-banner">
       <div class="jumbotron jumbotron-fluid find-beer">
          <div class="container">
            <!--<h1 class="display-4">Find a Recipe</h1>-->
            <input class="search-box" type="search" placeholder="Find A Recipe" aria-label="Search">
            <br>
            <a class="search-link" href="#">ADVANCED SEARCH   <i class="fas fa-caret-right src-icon"></i></a>
          </div>

        </div>
    </section>

    <section class="style-list">
        <div class="col-12">
            <hr>
            <h2>Browse by Style</h2>

            <div class="beer-styles">
                <a href="/browse"><img class="style-img" src="{{ url_for('static', filename='assets/brown.jpg') }}"></a>
                <a href="/browse"><img class="style-img" src="{{ url_for('static', filename='assets/brown.jpg') }}"></a>
                <a href="/browse"><img class="style-img" src="{{ url_for('static', filename='assets/brown.jpg') }}"></a>
                <a href="/browse"><img class="style-img" src="{{ url_for('static', filename='assets/brown.jpg') }}"></a>
                <a href="/browse"><img class="style-img" src="{{ url_for('static', filename='assets/brown.jpg') }}"></a>
            </div>

            <hr>
        </div>
    </section>

    <section class="main-content">
        <h2>Browse Popular Recipes</h2>
            <div class="container row beer-main">
                <div class="card-columns">
                    {% for recipe in recipes %}
                        <div class="card beer-card" style="width: 18rem;">
                          <a class="beer-link" href="/recipe/{{ recipe._id }}"><img src="{{ url_for('static', filename='assets/brown.jpg') }}" class="card-img-top card-img" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">{{ recipe.name }}</h5>
                            <p class="card-text card-descrip">{{ recipe.description }}</p>
                          </div></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        <hr>
    </section>
</div>

<script src="{{ url_for('static', filename='js/recipe.js') }}"></script>
    {% endblock %}

<footer class="footer">
    <p>Libby Duggan 2019</p>


</footer>
